body {
    background-color: rgb(61, 61, 92);
    /* background-color: 	rgb(96,96,96); */
}

ul, li, p {
    color: rgb(192, 247, 8);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

nav {
    background: black;
    box-shadow: 0 0 10px rgb(192, 247, 8);
    /* padding: 10px; */
    background-color: black;
    height: 190px;
    /* margin-top: -20px; */
}

.logo {
    text-align: right;
    width:150px;
    margin: 40px;
    position: absolute;
    /* margin-top: 50px; */
    float: right;
}

.name {
    font-size: 60px;
    margin-top: 15px;
    text-align: center;
    padding-top: 30px;
}

.list {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(192, 247, 8);
    margin-inline: 10px;
    margin-top: -20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.div_photos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 300px;
    height: 250px;
    border: solid 1px rgb(192, 247, 8);
    padding: 10px;
}

table {
    margin: auto;
    border: solid 3px rgb(192, 247, 8);
    border-collapse: collapse;
    width: 350px;
    text-align: center;
    margin-bottom: 40px;
}

th, td {
    padding: 10px 15px;
    border: 1px solid rgb(192, 247, 8);
}

footer {
    background-color: black;
    width: 100%;
    font-size: 18px;
    height: 100px;
    padding: 3px;
}

.contacts {
    margin-top: -10px;
    float: left;
    margin-left: 30px;
}

.footer_logo {
    width:50px;
    margin-inline: 10px;
    margin-top: -10px;
}

.footer_text {
    vertical-align: text-top;
    margin: 0px;
    margin-top: 15px;
    margin-left: 80%;
}