body {
    margin: 0px;
    background-color: #FFFAF0;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: 0 30px;
    text-align: justify;
}

ul, li, th, td {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.main {
    background-color: black;
    height: 120px;
    box-shadow: 0 0 25px rgba(0,0,0,1);
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.logo {
    height: 80px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 520px;
    font-size: 50px;
    color: #FFFAF0;;
    padding-top: 15px;
    /* padding-bottom: 15px; */
}

li {
    display:inline-block;
}

.navigation {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFAF0;;
    margin-inline: 10px;
    display:inline-block;
}

.div_photos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 300px;
    height: 250px;
    border: solid 1px darkslategrey;
    padding: 15px;
}

table {
    margin: auto;
    border: solid 3px;
    border-collapse: collapse;
    width: 400px;
    text-align: center;
    margin-bottom: 40px;
}

th, td {
    padding: 10px 15px;
    border: 1px solid #FFFAF0;;
}

footer {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #FFFAF0;
    box-shadow: 0 0 25px rgba(0,0,0,1);
    font-size: 18px;
    height: 100px;
    vertical-align: middle;
}

.contacts {
    float: left;
    margin-left: 30px;  
}

.footer_logo {
    width:50px;
    margin-inline: 10px;
    margin-top: 10px;
}

.footer_text {
    position: absolute;
    margin-top: 30px;
    margin-left: 80%;
}